include header 


include site_header

div(class="item")
    div(class="container")
        
        div(class="item__inner")
            div(class="item__img-box")
                img(
                    src=`images/${goods.image}`
                    class="goods-big-image"
                )
            div(class="item__content")
                h2(class="item__content-title") #{goods.name}
                p(class="item__content-text") #{goods.description}
                p(class="item__content-price") Цена: #{goods.cost.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')}
                button(
                    class="btn item__btn"
                    data-goods_id=goods.id
                ) To cart

include nav
include footer 
